body {
  background-color: aquamarine;
}
#gallery {
  display: flex;
  padding: 0;
}

#gallery li {
  list-style-type: none; /* Убираем маркеры */
  padding-right: 20px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

div {
  padding-left: 25px;
  margin-top: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: black;
  border: solid 1px;
  border-radius: 5px;
}
